
.header{
    background-color: #264653;
    max-width: 100%;
    
}
.button{
    background-color: #E76F51;
    height: 44px;
    width: 168px;
    left: 156px;
    top: 413px;
    border-radius: 5px;
    padding: 10px;
    border:none;
}


.feature-bike{
    filter: grayscale(100%);
    
}

.client{
    color: #E76F51;
}

