
        
body{
    
    max-width: 100%;
}


.header{
    background-color: #264653;
    
    
}
.button{
    background-color: #E76F51;
    height: 44px;
    width: 168px;
    left: 156px;
    top: 413px;
    border-radius: 5px;
    padding: 10px;
    border:none;
    font-weight: 700;
}
.modal{
    overflow-x:hidden;
}

.feature-bike{
    filter: grayscale(100%);
    
}

.client{
    color: #E76F51;
}



.Questions{
    color: #E76F51;
}
.collection{
    color: #E76F51;
}

.fas{
    color: #E76F51;
}

.line-bar{
    
    width: 50px;
    color: #E76F51;
    border: 2px solid #E76F51 ;
    border-radius: 5px;
}

